<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
 
  <body>
    <nav>
      <div class="pages">
        <div><a href="./home"><h5 id="home">Home</h5></a></div>
        <div> <a href="./about"><h5 id="about">About</h5></div></a>
        <div><a href="./works"><h5 id="works">Works</h5></div></a>
     
      
      <div><a href="./pictures"><h5 id="pictures">Pictures</h5></a></div>
    </div>
    </nav>
    <h3>
      Helio Gracie was a 9th degree red belt and arguably the most important
      figure in Brazilian Jiu Jitsu‘s history. One of the first Gracie Jiu Jitsu
      representatives in the 1930’s and 1940’s he was also the father and master
      of many fighters who carried the name of his family’s trade to martial
      arts’ mainstream in the early 1990’s, competitors such as Royler, Rickson
      or Royce Gracie. His lineage and legacy are among the strongest in Jiu
      Jitsu and he is regarded as one of the fathers of the Brazilian grappling
      art.
    </h3>
   <img src="/images/jiu-jitsu-brasileño-3.jpg" alt="" height="500px">
  </body>
</html>
