<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Helio Gracie</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  
  <body>
    <h1>Helio Gracie</h1>
    <nav>
   
    
      <div class="pages">
          <div><a href="./home"><h5 id="home">Home</h5></a></div> 
        <div> <a href="./about"><h5 id="about">About</h5></div></a>
          <div><a href="./works"><h5 id="works">Works</h5></div></a>
       
       
        <div><a href="./pictures"><h5 id="pictures">Pictures</h5></a></div>
         </div>
      </nav>
    <img src="images/helio_original.jpg" />

  </body>
</html>
