<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Pictures</title>
  </head>
  <nav>
    <div class="pages">
       <div><a href="./home"><h5 id="home">Home</h5></a></div> 
      <div> <a href="./about"><h5 id="about">About</h5></div></a>
        <div><a href="./works"><h5 id="works">Works</h5></div></a>
     
      
      <div><a href="./pictures"><h5 id="pictures">Pictures</h5></a></div>
    </div>
  <body class="pictures">
    <img
      src="images/Gracie-Jiu-Jitsu-Documentário-Manaus-Amazônia.jpg"
      alt=""
    />
    <img src="images/heliozulu.jpg" alt="" />
    <img src="images/zuluhelio.jpg" alt="" />
    <img src="images/armlockfly.jpg" alt="" />
  </body>
</html>
