<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
    <div class="pages">
      <div><a href="./home"><h5 id="home">Home</h5></a></div>  
      <div> <a href="./about"><h5 id="about">About</h5></div></a>
        <div><a href="./works"><h5 id="works">Works</h5></div></a>
     
      
      <div><a href="./pictures"><h5 id="pictures">Pictures</h5></a></div>
    </div>
    </nav>
    <h1>How it's works!</h1>
    <h3>Brazilian jiu-jitsu (BJJ; Portuguese: jiu-jitsu brasileiro [ʒiw ˈʒitsu bɾaziˈlejɾu, ʒu -]) is a self-defence martial art and combat sport based on grappling, ground fighting, and submission holds. BJJ approaches self-defense by emphasizing taking an opponent to the ground, gaining a dominant position, and using a number of techniques to force them into submission via joint locks or chokeholds.

        Brazilian jiu-jitsu was initially developed in 1925 by Brazilian brothers Carlos, Oswaldo, Gastão Jr., George, and Hélio Gracie, after Carlos was taught jiu-jitsu by a travelling Japanese judoka, Mitsuyo Maeda, who himself mastered his ground fighting while interacting with Taro Miyake (Tanabe student), Sadakazu Uyenishi (Handa, Tanabe) and Yukio Tani (Tenjin Shinyo-ryu) and catch wrestlers in Europe. Later on, the Gracie family developed their own self-defense system, and published Gracie Jiu-Jitsu.
        
        BJJ eventually came to be its own defined combat sport through the innovations, practices, and adaptation of Gracie jiu-jitsu and Judo, and became an essential martial art for modern MMA. Governing bodies such as the IBJJF work worldwide, and set the rules and standards to be held in sport BJJ competitions.
        
        BJJ revolves around the concept, taken from traditional Japanese jūjutsu, that a smaller, weaker person can successfully defend themselves against a bigger, stronger, heavier opponent by using leverage and weight distribution, taking the fight to the ground and using a number of holds and submissions to defeat them. BJJ training can be used for sport grappling and self-defense situations.[3] Sparring, commonly referred to as "rolling" within the BJJ community, and live drilling plays a major role in training and the practitioner's development. BJJ can also be used as a method of promoting physical fitness, building character, and as a way of life.</h3>
  
  </body>
</html>
